* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  animation: fadeIn 1.5s ease-in-out forwards;
  
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

